<ActionBar title="Grabbit" class="h1">

</ActionBar>
<GridLayout rows="*,*" columns="*">
  <ScrollView orientation="vertical">
    <GridLayout rows="*,*,*,*,*,*,*" columns="*">
      <StackLayout orientation="vertical" row="0" backgroundColor="#F1F1F1">

        <Label text="About Us" class="h3 text-center p-t-20 p-b-20" horizontalAlignment="stretch"></Label>
      </StackLayout>

      <StackLayout orientation="vertical" row="2">

        <CardView  class="p-t-20">
          <StackLayout>
            <Label text="Grabbit is a  fun, fast paced daily deals auction. Slap, Sneak & Grab your way to awesome prizes. Compete against global players for bitcoin and other instantly delivered crypto prizes, or take on locals for coupons to your favorite restaurants and local experiences." class="h3 p-10" horizontalAlignment="stretch"  textWrap="true" lineHeight="15"></Label>
            <Label text="Grabbit solves the problem of boring raffles and local prize engagement. Everyday, dozens of businesses in your area are offering coupons and discounts. Unlike Groupon, Grabbit's auction format requires users pay nothing for amazing discounts." class="h3 p-10" horizontalAlignment="stretch"  textWrap="true" lineHeight="15"></Label>
            <Label text="Businesses want foot traffic, bargin shoppers want great discounts and an easy 24/7 way to get them. Grabbit is fun for the train ride home from work or school,  or a late night binge watch break." class="h3 p-10" horizontalAlignment="stretch"  textWrap="true" lineHeight="15"></Label>

          </StackLayout>

        </CardView>
      </StackLayout>

    </GridLayout>
    </ScrollView>
</GridLayout>
