<ActionBar title="Grabbit" class="h1">

</ActionBar>
<ScrollView class="page">

  <GridLayout rows="*,*" columns="*" *ngIf="showBizForm">
    <GridLayout rows="*,*,*,*" columns="*">

      <StackLayout orientation="vertical" row="0" backgroundColor="#F1F1F1">

        <Label text="create your business profile" class="h3 text-center p-t-20 p-b-20" horizontalAlignment="stretch"></Label>
      </StackLayout>

      <StackLayout row="2">
        <GridLayout rows="*, *, *, *, *,*,*" columns="80, *" class="form">

          <ListPicker  row="0" colSpan="2" [items]="bizType" selectedIndex="0" (selectedIndexChange)="onSelectedIndexChanged($event)"></ListPicker>
          <Label row="1" col="0" text="Name" horizontalAlignment="right" class="label" *ngIf="bType"></Label>
          <TextField row="1" col="1" [(ngModel)]="bizName" hint="business name" class="input input-border" *ngIf="bType"></TextField>
          <Label row="2" col="0" text="Address" horizontalAlignment="right" class="label" *ngIf="bType"></Label>
          <TextField row="2" col="1" [(ngModel)]="address" hint="business addrerss" class="input input-border" *ngIf="bType"></TextField>
          <Label row="3" col="0" text="Phone" horizontalAlignment="right" class="label" *ngIf="bType"></Label>
          <TextField row="3" col="1" [(ngModel)]="phone" hint="phone" class="input input-border" *ngIf="bType"></TextField>
          <Label row="4" col="0" text="Email" horizontalAlignment="right" class="label" *ngIf="bType"></Label>
          <TextField row="4" col="1" [(ngModel)]="email" hint="your business email" class="input input-border" *ngIf="bType"></TextField>

          <Label row="5" col="0" text="Story" horizontalAlignment="right" class="label" *ngIf="bType"></Label>
          <TextField row="5" col="1" [(ngModel)]="story" hint="your business story" class="input input-border" *ngIf="bType"></TextField>
          <Button row="6" colSpan=2 text="save" (tap)="gSAVE()" horizontalAlignment="stretch" class="-primary" *ngIf="story"></Button>

        </GridLayout>
      </StackLayout>

    </GridLayout>
  </GridLayout>

  <GridLayout rows="*,*" columns="*" *ngIf="showGameForm">
    <GridLayout rows="*,*,*,*" columns="*">

      <StackLayout orientation="vertical" row="0" backgroundColor="#F1F1F1">

        <Label text="creating {{prizeType}} game for" class="h4 text-center p-t-20" horizontalAlignment="stretch"></Label>
      </StackLayout>


      <StackLayout orientation="vertical" row="1" backgroundColor="#F1F1F1">

        <Label [text]="BIZ[0].profile[0].name" class="h3 text-center p-t-20" horizontalAlignment="stretch"></Label>
        <Label [text]="BIZ[0].profile[0].address" class="h3 text-center" horizontalAlignment="stretch"></Label>
        <Label [text]="BIZ[0].profile[0].phone" class="h3 text-center  p-b-20" horizontalAlignment="stretch"></Label>

      </StackLayout>
      <StackLayout row="2">
        <GridLayout rows="*, *, *, *, *,*,*" columns="80, *, 80" class="form">

          <TextField row="1" col="1" [(ngModel)]="gameTitle" hint="game title" class="input input-border p-t-20" maxLength="24"></TextField>
          <TextField row="2" col="1" [(ngModel)]="maxPlayers" hint="max players" class="input input-border p-t-20" keyboardType="number" maxLength="2"></TextField>
          <TextField row="3" col="1" [(ngModel)]="prize" hint="winner gets a.." class="input input-border p-t-20" maxLength="45"></TextField>

          <TextField row="4" col="1" [(ngModel)]="prize2" hint="none winners get a 10% off coupon" class="input input-border p-t-20" maxLength="45" *ngIf="prizeType=='everyone wins'"></TextField>
          <TextField row="4" col="1" [(ngModel)]="price" hint="buy $30 item" class="input input-border p-t-20"  maxLength="24" *ngIf="prizeType=='free item with purchase'"></TextField>

          <TextField row="4" col="1" [(ngModel)]="mysteryBoxValue" hint="mystery box value ie $25" class="input input-border p-t-20"  maxLength="24" *ngIf="prizeType=='mystery box'"></TextField>
          <TextField row="5" col="1" [(ngModel)]="details" hint="prize details with redeem/pickup info" class="input input-border p-t-20"  maxLength="150"></TextField>

          <Button row="6" col='1' text="create local game" (tap)="gCreateCoupon(prizeType)" horizontalAlignment="stretch" class="-primary p-b-20"></Button>

        </GridLayout>
      </StackLayout>


      <StackLayout orientation="vertical" row="4" backgroundColor="#F1F1F1">

        <Label text="total USD: ${{maxPlayers*playerFee || 0 | number : '1.2-2'}}" class="h2 text-center p-t-20" horizontalAlignment="stretch" textWrap="true"></Label>
        <Label text="1 btc = ${{btc_value}}" class="h4 text-center p-t-20" horizontalAlignment="stretch" textWrap="true"></Label>

        <Label text="Winner(s) must redeem coupon within 72  hours" class="h3 text-center p-t-20" horizontalAlignment="stretch" textWrap="true"></Label>
        <Label text="If less than the max number of players play your game, the difference will be returned to your wallet" class="h3 text-center p-t-10" horizontalAlignment="stretch" textWrap="true" lineHeight="21"></Label>

      </StackLayout>
    </GridLayout>
  </GridLayout>

  <GridLayout rows="*,*" columns="*" *ngIf="!showBizForm">
    <GridLayout rows="*,*" columns="*">
      <StackLayout orientation="vertical" row="0" backgroundColor="#F1F1F1">

        <Label text="create {{type}} game" class="h3 text-center p-t-20 p-b-20" horizontalAlignment="stretch"></Label>
      </StackLayout>
      <StackLayout orientation="vertical" row="0">

        <Label text="create {{type}} game" class="h3 text-center p-t-20 p-b-20" horizontalAlignment="stretch"></Label>
      </StackLayout>
      <StackLayout orientation="vertical" row="1" *ngIf="type=='coupon'">

        <GridLayout rows="*,*,*,*,*,*,*,*,*,*,*" columns="*">

          <StackLayout class="p-20" row="0">
            <Card:CardView class="cardStyle">
              <StackLayout class="cardContent">
                <Label text="Grabbit is an awesome way to engage locals with deals and discounts. It costs as little as $0.65 per player competing for your coupon. Games are geo fenced to locals within 10 miles. Locals play FREE to win your coupon"
                  class="h3 p-20 text-center" textWrap="true" lineHeight='12'></Label>

              </StackLayout>
            </Card:CardView>
          </StackLayout>
          <StackLayout orientation="vertical" row="1" backgroundColor="#F1F1F1">

            <Label text="Game Types" class="h2 text-center p-t-20 p-b-20" horizontalAlignment="stretch"></Label>
          </StackLayout>

          <StackLayout class="p-20" row="2">
            <Card:CardView class="cardStyle">
              <StackLayout class="cardContent">
                <Label text="1 Winner" class="m-b-10 h3" />
                <Label text="only one player wins" class="m-b-10 h3" textWrap="true" />
                <Label text="$0.65 per player" class="m-b-10 h3" />
                <Button text="create" (tap)="onCreate('1 winner')" class="-primary -rounded-lg"></Button>

              </StackLayout>
            </Card:CardView>
          </StackLayout>

          <StackLayout class="p-20" row="3">
            <Card:CardView class="cardStyle">
              <StackLayout class="cardContent">
                <Label text="Everyone Wins" class="m-b-10 h3" />
                <Label text="winner gets a 50% off coupon, all other players get a 15% off coupon (example)" class="m-b-10 h3" textWrap="true" />
                <Label text="$1.75 per player" class="m-b-10 h3" />
                <Button text="create" (tap)="onCreate('everyone wins')" class="-primary -rounded-lg"></Button>

              </StackLayout>
            </Card:CardView>
          </StackLayout>

          <StackLayout class="p-20" row="4">
            <Card:CardView class="cardStyle">
              <StackLayout class="cardContent">
                <Label text="Winner Must Bring A Friend" class="m-b-10 h3" />
                <Label text="winner must bring a friend to redeem the coupon" class="m-b-10 h3" textWrap="true" />
                <Label text="$1 per player" class="m-b-10 h3" />
                <Button text="create" (tap)="onCreate('winner must bring a friend')" class="-primary -rounded-lg"></Button>

              </StackLayout>
            </Card:CardView>
          </StackLayout>

          <StackLayout class="p-20" row="5">
            <Card:CardView class="cardStyle">
              <StackLayout class="cardContent">
                <Label text="Free item with purchase" class="m-b-10 h3" />
                <Label text="winner gets a free item, with purchase" class="m-b-10 h3" textWrap="true" />
                <Label text="$1 per player" class="m-b-10 h3" />
                <Button text="create" (tap)="onCreate('free item with purchase')" class="-primary -rounded-lg"></Button>

              </StackLayout>
            </Card:CardView>
          </StackLayout>

          <StackLayout class="p-20" row="6">
            <Card:CardView class="cardStyle">
              <StackLayout class="cardContent">
                <Label text="Mystery Box" class="m-b-10 h3" />
                <Label text="winner gets a mystery box" class="m-b-10 h3" textWrap="true" />
                <Label text="$1 per player" class="m-b-10 h3" />
                <Button text="create" (tap)="onCreate('mystery box')" class="-primary -rounded-lg"></Button>

              </StackLayout>
            </Card:CardView>
          </StackLayout>
          <StackLayout orientation="vertical" row="7" backgroundColor="#F1F1F1">

            <Label text="FAQ's" class="h2 text-center p-t-20 p-b-20" horizontalAlignment="stretch"></Label>
          </StackLayout>
          <StackLayout class="p-20" row="8">
            <Card:CardView class="cardStyle">
              <StackLayout class="cardContent">
                <Label text="Explain per player pricing" class="m-b-10 h2" />
                <Label text="when creating your game, you choose the max number of players for your game. If you choose 10 max players for a 1 winner game, it will cost $6.50" class="m-b-20 h3" textWrap="true" lineHeight="12" />
                <Label text="if less than 10 players join the game, the difference will be returned to your bitcoin wallet" class="m-b-10 h3" textWrap="true" lineHeight="12" />

              </StackLayout>
            </Card:CardView>
          </StackLayout>

          <StackLayout class="p-20" row="9">
            <Card:CardView class="cardStyle">
              <StackLayout class="cardContent">
                <Label text="Whats the incentive for players to redeem their coupons?" class="m-b-10 h2" textWrap="true" />
                <Label text="Players are rewarded when they redeem their coupons, from reward points to free tools and to other perks. Players may also be penalized for not redeeming their wins" class="m-b-20 h3" textWrap="true" lineHeight="12" />

              </StackLayout>
            </Card:CardView>
          </StackLayout>
          <StackLayout class="p-20" row="10">
            <Card:CardView class="cardStyle">
              <StackLayout class="cardContent">
                <Label text="Can I extend the local radius to 20 miles?" class="m-b-10 h2" textWrap="true" />
                <Label text="Yes, with a premium feature" class="m-b-20 h3" textWrap="true" lineHeight="12" />

              </StackLayout>
            </Card:CardView>
          </StackLayout>
        </GridLayout>
      </StackLayout>

      <StackLayout orientation="vertical" row="1" *ngIf="type=='bitcoin'">

        <GridLayout rows="*,*" columns="*">
          <StackLayout orientation="vertical" row="0">

              <GridLayout rows="*, *, *, *, *,*,*" columns="80, *, 80" class="form">

                <TextField row="0" col="1" [(ngModel)]="gameTitle" hint="game title" class="input input-border p-t-20" maxLength="24"></TextField>
                <TextField row="1" col="1" [(ngModel)]="prize" hint="prize in btc (.001)" class="input input-border p-t-20" keyboardType="number" maxLength="6"></TextField>
                <TextField row="2" col="1" [(ngModel)]="details" hint="prize details" class="input input-border p-t-20"  maxLength="150"></TextField>
                <TextField row="3" col="1" [(ngModel)]="gameLat" hint="geo fence to latitude" class="input input-border p-t-20"  maxLength="150" *ngIf="admin>0"></TextField>
                <TextField row="4" col="1" [(ngModel)]="gameLng" hint="geo fence to longitude" class="input input-border p-t-20"  maxLength="150" *ngIf="admin>0"></TextField>

                <Button row="5" col='1' text="create bitcoin game" (tap)="gCreateBTC()" horizontalAlignment="stretch" class="-primary p-b-20" *ngIf="user"></Button>
                <Button row="5" col='1' text="login/signup" (tap)="login()" horizontalAlignment="stretch" class="-primary p-b-20" *ngIf="!user"></Button>

              </GridLayout>
          </StackLayout>

          <StackLayout orientation="vertical" row="1" backgroundColor="#F1F1F1">
            <Label text="prize value: ${{btc_value*prize || 0 | number : '1.2-2'}}" class="h3 text-center p-t-20" horizontalAlignment="stretch" textWrap="true" *ngIf="user"></Label>

            <Label text="How This works" class="h2 text-center p-t-20" horizontalAlignment="stretch" textWrap="true"></Label>
            <Label text="When you create a bitcoin game, you are offering $5 in bitcoin (for example) as a prize up for grabs. Your game will require a minimum of 10 players, with a play fee of 2 grabs (or $0.50). Like inserting quarters into an arcade. Players get x number of free grabs, slaps and sneaks to play" class="h3 text-center p-t-20" horizontalAlignment="stretch" textWrap="true" lineHeight="18"></Label>

            <Label text="10 x  $0.50 covers your $5 in bitcoin. If 20 players join the game,  there's an overage of $5. 75% of that is yours. " class="h3 text-center p-t-20" horizontalAlignment="stretch" textWrap="true" lineHeight="18"></Label>
            <Label text="If your game is not successful, cancel it and your bitcoins are sent back to your wallet." class="h3 text-center p-t-10" horizontalAlignment="stretch" textWrap="true" lineHeight="18"></Label>
            <Label text="max players 25, max prize amount $25" class="h3 text-center p-t-10" horizontalAlignment="stretch" textWrap="true" lineHeight="18"></Label>

          </StackLayout>

        </GridLayout>
      </StackLayout>
    </GridLayout>

  </GridLayout>
</ScrollView>
