<ActionBar title="Grabbit" class="h1">

</ActionBar>

<StackLayout class="main" verticalAlignment="top" *ngIf="askBiz">

    <GridLayout class="anim-cover" rows="auto,auto,auto" columns="*">

      <StackLayout orientation="vertical" row="0" backgroundColor="#F1F1F1">

        <Label text="create your business profile" class="h3 text-center p-t-20 p-b-20" horizontalAlignment="stretch"></Label>

      </StackLayout>
      <StackLayout orientation="vertical" row="1">

        <Label text="use your yelp id" class="h3 text-center p-t-20 p-b-20" horizontalAlignment="stretch"></Label>
        <Image
            [src]="yelpImage" stretch="aspectFill"  width="72%"></Image>

      </StackLayout>
      <StackLayout orientation="vertical" row="2">
        <Button text="get biz info" (tap)="onYelp()" class="-primary"></Button>

      </StackLayout>

     </GridLayout>

</StackLayout>


<StackLayout class="main" verticalAlignment="top" *ngIf="showBiz">

    <GridLayout class="anim-cover" rows="auto,auto,auto" columns="*">
        <Image row="0" col="0" marginTop="-40" height="180" stretch="aspectFill"
            class="card-img" [src]="BIZ.profile[0].images[0].url"></Image>

            <GridLayout class="anim-itemInfo p-l-4" marginTop="15" row="1"
                width="100%" columns="auto,*" rows="*,*,*,*,*,*"
                verticalAlignment="center">
                <Label row="0" col="0" class="item-category" text="{{BIZ.profile[0].name  || 'business category'}}"></Label>
                <Label row="1" col="0" class="item-category" text="{{BIZ.profile[0].address  || 'business address'}}"></Label>
                <Label row="2" col="0" class="item-category" text="{{BIZ.profile[0].phone  || 'business phone'}}"></Label>
                <Label row="3" col="0" class="item-category" text="{{BIZ.profile[0].email  || 'no email'}}"></Label>

            </GridLayout>

            <StackLayout row="2" *ngIf="BIZ.profile[0].verified<1">
              <Label class="item-category" text="we'll call your business, enter the code you receive to verify this business" textWrap="true"></Label>

              <Button text="verify biz" (tap)="vYELP()" horizontalAlignment="stretch" class="-primary"></Button>

            </StackLayout>
    </GridLayout>

</StackLayout>

<StackLayout class="main" verticalAlignment="top" *ngIf="showBizForm">

  <GridLayout rows="*,*,*,*" columns="*">

    <StackLayout orientation="vertical" row="0" backgroundColor="#F1F1F1">

      <Label text="creating your business profile" class="h3 text-center" horizontalAlignment="stretch"></Label>
    </StackLayout>

    <StackLayout row="1">
      <GridLayout rows="*, *, *, *, *,*,*" columns="80, *" class="form">

        <ListPicker  row="0" colSpan="2" [items]="bizType" selectedIndex="0" (selectedIndexChange)="onSelectedIndexChanged($event)"></ListPicker>
        <Label row="1" col="0" text="Name" horizontalAlignment="right" class="label" *ngIf="bType"></Label>
        <TextField row="1" col="1" [(ngModel)]="bizName" hint="business name" class="input input-border" *ngIf="bType"></TextField>
        <Label row="2" col="0" text="Address" horizontalAlignment="right" class="label" *ngIf="bType"></Label>
        <TextField row="2" col="1" [(ngModel)]="address" hint="business addrerss" class="input input-border" *ngIf="bType"></TextField>
        <Label row="3" col="0" text="Phone" horizontalAlignment="right" class="label" *ngIf="bType"></Label>
        <TextField row="3" col="1" [(ngModel)]="phone" hint="phone" class="input input-border" *ngIf="bType"></TextField>
        <Label row="4" col="0" text="Email" horizontalAlignment="right" class="label" *ngIf="bType"></Label>
        <TextField row="4" col="1" [(ngModel)]="email" hint="your business email" class="input input-border" *ngIf="bType"></TextField>

        <Label row="5" col="0" text="Story" horizontalAlignment="right" class="label" *ngIf="bType"></Label>
        <TextField row="5" col="1" [(ngModel)]="story" hint="your business story" class="input input-border" *ngIf="bType"></TextField>
        <Button row="6" colSpan=2 text="save" (tap)="gSAVE()" horizontalAlignment="stretch" class="-primary" *ngIf="story"></Button>

      </GridLayout>
    </StackLayout>
    <StackLayout row="3" *ngIf="bType=='sex'">
      <GridLayout rows="*, auto, auto">
          <ListView [items]="imageAssets" *ngIf="imageAssets && imageAssets.length>0">
              <ng-template let-image="item" let-i="index">
                  <GridLayout columns="auto, *">
                      <Image
                          [width]="thumbSize"
                          [height]="thumbSize"
                          [src]="image" stretch="aspectFill"></Image>
                      <Label col="1" [text]="'image ' + i"></Label>
                  </GridLayout>
              </ng-template>
          </ListView>
          <Button row="2" text="save" (tap)="save()" horizontalAlignment="center" class="-primary"></Button>
      </GridLayout>
    </StackLayout>
  </GridLayout>

</StackLayout>
