<ActionBar title="Grabbit" class="h1">

</ActionBar>
<GridLayout rows="*,*" columns="*">
  <ScrollView orientation="vertical">
    <GridLayout rows="*,*,*,*,*,*,*" columns="*">
      <StackLayout orientation="vertical" row="0" backgroundColor="#F1F1F1">

        <Label text="Support" class="h3 text-center p-t-20 p-b-20" horizontalAlignment="stretch"></Label>
      </StackLayout>

      <StackLayout orientation="vertical" row="2">

        <CardView  class="p-t-20">
          <StackLayout>
            <Label text="Give us  a call 24/7 if you need help (415-509-4812)" class="h3 p-10" horizontalAlignment="stretch"  textWrap="true" lineHeight="15"></Label>

          </StackLayout>

        </CardView>
      </StackLayout>

    </GridLayout>
    </ScrollView>
</GridLayout>
